[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-transcript-api = "*"
pandas = "*"
numpy = "*"
pip = "*"
openai = {version = "*", extras = ["datalib"]}
black = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
scikit-learn = "*"
pytube = "*"
elasticsearch = "*"
selenium = "*"
webdriver-manager = "*"
pydub = "*"
googletrans = "==4.0.0-rc1"
langdetect = "*"
locust = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
